* {
    margin: 0;
    padding: 0;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#181818;
    color:white;
    padding : 30px;
}
h1{
    text-align:center;
    text-transform: uppercase;
    margin-bottom : 20px;
}

a{
    color:blanchedalmond;
    text-decoration: none;
}
ul li, ol li{
    margin-bottom : 5px;
    list-style-position: inside;
}

h2{
    color:goldenrod;
    margin-bottom : 10px;
}

h3{
    color:rgb(183, 162, 110);
    margin-bottom : 10px;
    margin-top : 10px;
}

img{
    width : 350px;
    margin-bottom : 20px;
    -webkit-filter: sepia(50%);
	filter: sepia(50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description p{
    text-align: center;
}
strong{
    
    font-size:25px;
    color :antiquewhite;
}

.ingredients.odd li{
    color :burlywood;
}
.recipe-element{
    padding : 10px;
    vertical-align: text-top;
    display: inline-block;
    margin: 15px;
    background-color :rgba(255, 255, 255,0.1)
}

.description{
    width : 80%;
    margin:auto;
    padding : 15px;
    background-color: rgba(255,255,255,0.01);
}